#Linux
mongod --dbpath /var/lib/mongo/slave --port 27002 --replSet My_Replica_Set --fork --logpath  /var/lib/mongo/slave/slave.log

#WIndows
mongod --port 27017 --dbpath "D:\set up\mongodb\data" --replSet RS_VX 